body {
  background-image: url(https://public.keskofiles.com/f/k-ruoka/product/6410405072863);
}
 
header {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 35px;
}

footer {
  font-family: monospace;
  font-size: 25px;
  text
}

p {
  font-family: monospace;
  font-size: 25px;
}